@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&family=Pacifico&family=Roboto:ital,wght@1,300&display=swap');

body{
  background-color:#1261A0;
  box-sizing: border-box;
}
h2{
  color: rgb(252, 249, 245);
  text-align: center;
  font-size: 35px;
  margin: 5px 0 20px;
  font-family: 'Pacifico','Lato','Oswald',sans-serif;
  font-weight: 500;
}
.container{
  /* background-color:#3895D3; */
  /* background-color: whitesmoke; */
  border-radius: 10px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.box{
  /* background-color: rgb(109, 154, 252); */
  background-color: white;
  border-radius: 5px;
  width: 30%;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgb(41, 20, 20);
}
h3{
  /* color:blue; */
  text-align: center;
  font-family:'Oswald',sans-serif; 
  font-size: 22px;
}
p{
  font-family:'Roboto','Oswald',sans-serif; 
  font-weight: 800;
  font-size: 15px;
}
img{
  display: block;
  width: 200px;;
  height: 200px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}
.border{
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  height: 7%;
  border: 2px solid red;
  text-align: center;
}
h5{
  font-size: 20px;
  text-align: center;
  justify-content: center;
  margin-top: 2px;
}
h5:hover{
  color: red;
}